@import './scss/frmwrk-color.scss';

:root {
	/* Font Styles */
	--font-size: 18px;
	--font-line-height: 1.65;
	/* Font Stacks */
	--font-stack: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu,Cantarell, sans-serif;
	--font-stack-code: Courier;
	/* Layout */
	--vertical-space: 2rem;
}
			

// $theme-text-color: red;

// .test {
// 	@for $i from 0 through 6 {
//     --theme-text-color-#{$i}: #{lighten($theme-text-color, 10% * $i)};
// 	}
// 	// I’m getting the following error:
// 	// Error: expected "{".
// 	// 	╷
// 	// 11 │     --theme-text-color-#{$i}: #{lighten($theme-text-color, 10% * $i)};
// }
