
/* *************************** */
/*         card styles         */
/* *************************** */

.frmwrk-card {
	display: flex;
	flex-direction: column;
	// border: 1px solid var(--color-foreground);
	margin-top: 1rem;
	// background-color: var(--color-gray-lighter-3);
	background-image: linear-gradient(blue, red);
	position: relative;
	margin: 1rem;
	border-radius: 5px;
	overflow: hidden;

	& > * {
		padding: 1rem;
		margin: 0;
	}

	& > img {
		align-self: flex-start;
		padding: 0;
	}

	& > *:last-child,
  & > footer > *:last-child {
		margin-bottom: 0;
	}

	& > footer {
		background-color: var(--color-background);
	}
}

