
@import './frmwrk-typography.scss';
@import './frmwrk-forms.scss';
@import './frmwrk-code.scss';
@import './frmwrk-navbar.scss';
@import './frmwrk-footer.scss';
@import './frmwrk-card.scss';

/* ************************ */

/* Body Styles */

/* ************************ */

body {
	background-color: var(--color-background);
	color: var(--color-foreground);
	font-family: var(--font-stack);
	font-size: var(--font-size);
	line-height: var(--font-line-height);
	margin: 0;
	position: relative;
}

