:root {
	/* Colors */
	--color-background: #eee;
	--color-foreground: #444;
	
	--color-lightest: #fff;
	--color-light: #efefef;
	--color-md-light: #aaa;
	--color-md-dark: #666;
	--color-dark: #212121;
	
	--color-primary: #007bff;
	--color-info: #17a2b8;
	--color-success: #28a745;
	--color-danger: #dc3545;
	--color-callout: #ffa107;
	
	/* Font Styles */
	--font-size: 18px;
	--font-line-height: 1.65;
	/* Font Stacks */
	--font-stack: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu,Cantarell, sans-serif;
	--font-stack-code: Courier;
	
	/* Layout */
	--vertical-space: 2rem;
}
			
