@import './scss/frmwrk-color.scss';

:root {
	/* Font Styles */
	--font-size: 18px;
	--font-line-height: 1.65;
	/* Font Stacks */
	--font-stack: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu,Cantarell, sans-serif;
	--font-stack-code: Courier;
	/* Layout */
	--vertical-space: 2rem;
}
			
