

@use "./frmwrk-typography.scss";
@use "./frmwrk-forms.scss";
@use "./frmwrk-code.scss";
@use "./frmwrk-navbar.scss";
@use "./frmwrk-footer.scss";
@use "./frmwrk-card.scss";

/* ************************ */
/*       Body Styles        */
/* ************************ */

body {
	background-color: var(--color-background);
	color: var(--color-foreground);
	font-family: var(--font-stack);
	font-size: var(--font-size);
	line-height: var(--font-line-height);
	margin: 0;
	position: relative;
}

